.footer{
    background-color: rgb(48, 47, 47);
    color: white;
    padding:1px;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

  